.navbar-brand{
    color: rgb(241, 215, 99);
    
 
}

.mb-4{
    border-style: solid;
    border-radius: 90px;
    border-color: rgb(255, 255, 255);
}

section{
    min-height: 85vh;
    background: url(https://petfood-9ss2.vercel.app/images/contact-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-position: center;
}

.divs {
  text-align: center;
}


.form-login{
 align-items: center;
 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  
}

.form-signin .checkbox {
  font-weight: 400;
  
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 3;
  border-bottom-left-radius: 3;
  
}

.form-signin input[type="password"] {
  margin-top: 15px;
  margin-bottom: 10px;
  border-top-left-radius: 3;
  border-top-right-radius: 3;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: rgb(56, 56, 56);
}

label{
    font-size: 14px;
}

.checkbox{
    transform : scale(1.3);
}

#div-box{
padding-left: 35px;
}

